.demo-container {
  background-color: rgb(99, 101, 129);
  min-height: 100px;
  max-width: 800px;
  margin-top: 0.5rem;
  position: relative;
  text-align: left;
  padding: 0.5rem;
}

.demo-tab {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 1rem);
  width: 40%;
  background-color: rgb(62, 64, 83);
  padding: 0.5rem;
}