/* -- Popout demo CSS -- */
.demo-container {
  background-color: rgb(99, 101, 129);
  min-height: 100px;
  max-width: 800px;
  margin-top: 0.5rem;
  position: relative;
  text-align: left;
  padding: 0.5rem;
  overflow: hidden;
}

.demo-tab {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 1rem);
  width: 40%;
  background-color: rgb(62, 64, 83);
  padding: 0.5rem;
  animation: slide-from-right 0.2s ease-out;
}

.demo-tab.closing {
  animation: slide-to-right 0.25s ease-out;
}

/* -- Reactive CSS -- */
.demo-exp {
  margin-right: 10px;
  min-width: 250px;
}

.demo-handle {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10px;
  background-color: rgb(117, 118, 124);
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 0.5rem;
  cursor:e-resize;
}

.demo-handle:hover {
  background-color: rgb(140, 142, 158);
}

.demo-row {
  width: 100%;
  display: grid;
}

.demo-sqr {
  min-height: 50px;
  min-width: 50px;
  aspect-ratio: 1;
  background-color: teal;
  margin: 0.5rem;
}

/* -- Drag Demo CSS -- */
.drag-grid {
  background-color: rgb(99, 189, 181);
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-image: linear-gradient(0deg, 
    transparent -1%, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, .8) 1%, transparent 2%, 
    transparent 49%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, .8) 51%, transparent 52%, 
    transparent), 
    linear-gradient(90deg, 
    transparent -1%, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, .8) 1%, transparent 2%,
    transparent 49%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, .8) 51%, transparent 52%, 
    transparent);
  background-size:50px 50px;
  position: relative;
}

.drag-piece {
  height: 50px;
  width: 50px;
  background-color: rgb(238, 77, 49);
  position: absolute;
  cursor: move;
}

.drag-piece:active {
  background-color: rgb(245, 59, 27);
}