@font-face {
  font-family: Merriweather;
  src: url('../font/Merriweather-Regular.ttf');
} 

* {
  box-sizing: border-box;
  font-family: 'Merriweather';
}

body {
  margin: 0px;
}

/*-- NAVBAR CSS --*/
.navVis {
  position: fixed;
  width: 100%;
  z-index: 1;
  transform: none;
  transition: all 0.2s;
}

.navNotVis {
  position: fixed;
  width: 100%;
  z-index: 1;
  transform: translateY(-40px);
  transition: all 0.2s;
}

.navBar {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: #333;
  position: fixed;
  z-index: 1;
}

.navLogoArea {
  display: flex;
  align-self: center;
  color: white;
  padding: 0 10px;
}

.navLogo {
  margin-top: 8px;
  margin-right: 5px;
}

.burgerBtn-hidden {
  margin-left: auto;
}

.burgerBtn {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  right: 0;
}

.burgerBtn:hover {
  background-color: #666;
  cursor: pointer;
}

.line1 {
  background-color: white;
  height: 2px;
  width: 60%;
  margin: 3px 0;
}

.navLinks {
  display: flex;
}

.navLinks-in-side-menu {
  display: none;
}

.navBar a {
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  width: 15vw;
  color: white;
  list-style: none;
}

.navBar a:hover {
  background-color: #ddd;
  color: black;
}

.navBar .clickedNav {
  padding: 8px 10px;
  text-align: center;
  color: white;
  width: 15vw;
}

.navLinks-in-side-menu-open {
  display: flex;
  z-index: 2;
  flex-direction: column;
  transform: translate(0, 40px);
  background-color: inherit;
  position: fixed;
  right: 0;
}

.navLinks-in-side-menu-open a {
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  color: white;
  list-style: none;
}

.navLinks-in-side-menu-open a:hover {
  background-color: #ddd;
  color: black;
}

.navLinks-in-side-menu-open .clickedNav {
  padding: 8px 10px;
  text-align: center;
  color: white;
  width: 150px;
}

/*-- HEADER CSS --*/
.header {
  display: flex;
  flex-direction: column;
  height: 60vw;
  min-height: 400px;
  max-height: 600px;
  background-color: #1abc9c;
  padding: 7vw 5vw;
  color: white;
}

.header h1 {
  font-size: clamp(40pt, 8vw, 60pt);
  margin-bottom: 8px;
  text-shadow: 2px 2px 8px black;
}

.header p {
  font-size: clamp(12pt, 2vw, 14pt);
  margin: 5px;
  margin-left: 20px;
  text-shadow: 0 0 8px black;
}

@media (max-width: 720px) {
  .header {
    padding: 60px 20px;
  }
}

@media (min-width: 1000px) {
  .header {
    padding: 70px 5vw;
  }
}

/*-- FOOTER CSS --*/
.footer {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  background-color: #333;
  height: 40px;
}

.footer p {
  align-self: center;
  font-size: small;
  margin: 0;
  color: white;
  text-align: center;
}

.footer button {
  background-color: #222;
  border: none;
  color: white;
  transition-duration: 0.2s;
}

.footer button:hover {
  background-color: #666;
  cursor: pointer;
}

@media (max-width: 720px) {
  .footer {
    grid-template-columns: 25% 50% 25%;
  }
}