.home {
  display: flex;
  flex-direction: column;
  background-color: #dff;
  min-height: 80vh;
  align-items: center;
}

.home h3 {
  font-size: 30pt;
  margin: 10vh 0;
}

.fade-in {
	opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.squeeze1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  margin-bottom: 40px;
  max-width: 900px;
}

.squeeze1 p {
  max-width: 50vw;
  padding: 0 15px;
  line-height: 30px;
}

.topImage {
  display: flex;
  background-image: url('../img/space1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  height: 480px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  color: white;
  text-shadow: 0 0 4px black, 0 0 10px darkred;
}

.squeeze2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  margin-bottom: 40px;
  max-width: 900px;
}
.squeeze2 p {
  order: 2;
  max-width: 50vw;
  padding: 0 15px;
  line-height: 30px;
}

.squeeze2 .topImage {
  order: 1;
  background-image: url('../img/space2.jpg');
}

.botLorem {
  padding: 10px;
  max-width: 900px;
  min-height: 20vh;
  line-height: 30px;
  margin-bottom: 40px;
}

@media (max-width: 720px) {
  .squeeze1 {
    grid-template-columns: 1fr;
  }
  .squeeze1 p {
    max-width: 100%;
    line-height: 20px;
  }
  .squeeze2 {
    grid-template-columns: 1fr;
  }
  .squeeze2 p {
    order: 1;
    max-width: 100%;
    line-height: 20px;
  }
  .squeeze2 .topImage {
    order: 2;
  }
  .botLorem {
    max-width: 100%;
    line-height: 20px;
  }
}