.home {
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 49, 47);
  min-height: 80vh;
  align-items: center;
  width: clamp(775px, 80vw, 1000px);
  box-shadow: 0 0 10px rgba(196, 196, 196, 0.8);
  animation: fade-in 0.3s ease-in;
}

@keyframes fade-in {
  0% {
    transform: translateY(-10px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.home h3 {
  font-size: 30pt;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 5vh 0;
  background-color: rgb(25, 37, 34);
}

.fade-in {
	opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.squeeze1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  max-width: 900px;
}

.squeeze1 p {
  max-width: 50vw;
  padding: 0 15px;
  line-height: 30px;
}

.fillImage {
  background-color: rgb(30,30,30);
  height: 400px;
  width: 90%;
  justify-self: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: rgb(80,80,80);
}

.squeeze2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  max-width: 900px;
}
.squeeze2 p {
  order: 2;
  max-width: 50vw;
  padding: 0 15px;
  line-height: 30px;
}

.squeeze2 .topImage {
  order: 1;
  background-image: url('../img/space2.jpg');
}

.botLorem {
  padding: 10px;
  max-width: 900px;
  min-height: 20vh;
  line-height: 30px;
}

@media (max-width: 780px) {
  .home {
    width: 100%;
  }
  .squeeze1 {
    grid-template-columns: 1fr;
  }
  .squeeze1 p {
    max-width: 100%;
    line-height: 20px;
  }
  .squeeze1 .fillImage {
    width: clamp(200px, 96%, 400px);
  }
  .squeeze2 {
    grid-template-columns: 1fr;
  }
  .squeeze2 p {
    order: 1;
    max-width: 100%;
    line-height: 20px;
  }
  .squeeze2 .fillImage {
    order: 2;
    width: clamp(200px, 96%, 400px);
  }
  .botLorem {
    max-width: 100%;
    line-height: 20px;
  }
}