.scrollable-container {
  position: relative;
  height: 400px;
  background-color: rgb(85, 85, 85);
  text-align: center;
}

.scroll-nav {
  background-color: rgb(136, 136, 136);
  width: 100%;
  height: 30px;
  padding: 0 0;
  margin-top: 0;
  position: absolute;
}

.scroll-nav button {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 0 0;
  border-style: none;
  margin: 8px 6px;
}

.scroll-nav button:hover {
  background-color: rgb(141, 78, 223);
  cursor: pointer;
}

.scroll-nav button:focus {
  outline: none;
  box-shadow: none;
}

.scroll-nav .button-clicked {
  background-color: rgb(141, 78, 223);
  cursor: default !important;
}

.scroll-main {
  top: 30px;
  width: 100%;
  height: calc(100% - 30px);
  position: absolute;
  overflow-y: auto;
}

.scroll-main::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
.scroll-main::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.4);
  border-radius: 10rem;
}

.scroll-main h3 {
  padding: 15px 0;
  background-color: rgb(65, 64, 70);
  margin-bottom: 3px;
}

.scroll-main table {
  width: 100%;
}
.scroll-main th, td {
  text-align: center;
  background-color: rgb(65, 64, 70);
}
.scroll-main tr {
  text-align: left;
}
