* {
  box-sizing: border-box;
}

.header {
  background-color: #1abc9c;
  padding: 20px;
  text-align: center;
  color: white;
}

.header h1 {
  margin-bottom: 5px;
}

.header p {
  margin: 0px;
}

.navBar {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 40px;
  background-color: #333;
}

.navBar a {
  flex-grow: 1;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.navBar a:hover {
  background-color: #ddd;
  color: black;
}